* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", serif;
}

header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e073f;
  color: #fff;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#dialog {
  padding: 20px;
  width: 25%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid #2e073f;
  background-color: #fff;
  color: #2e073f;
  z-index: 1000;
}

.close-dialog {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

form > div {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

input[type="text"],
input[type="date"],
select {
  border: 1px solid #2e073f;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}

textarea {
  border: 1px solid #2e073f;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-task-btn {
  width: 200px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #2e073f;
  color: #fff;
  font-size: 18px;
  padding: 5px;
}

#submit-task-btn:hover {
  background-color: #fff;
  color: #2e073f;
  border: 2px solid #2e073f;
  transition: ease-in 0.3s;
}

#dialog::backdrop {
  backdrop-filter: blur(1px);
}

.sidebar {
  padding: 10px 0 10px 10px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  background-color: #2e073f;
  color: #fff;
}

.icons {
  width: 20px;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-menus {
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.sidebar-menus:hover {
  background-color: #ba68c8;
  border-radius: 40px 0 0 40px;
  transition: 0.3s ease-in;
}

.sidebar-menus.active {
  background-color: #ba68c8;
  border-radius: 40px 0 0 40px;
}

small > a {
  text-decoration: none;
  color: #ba68c8;
  font-size: 10px;
  display: block;
}

.displayToAddNewProject {
  border: 1px solid #ba68c8;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  margin-right: 5px;
}

.displayToAddNewProject_box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.newProjectInput {
  width: 100%;
}

.cancelProjectSave {
  width: 50%;
  background-color: rgb(197, 70, 70);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.saveProjectButton {
  width: 50%;
  background-color: rgb(78, 160, 78);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.cancelProjectSave:hover,
.saveProjectButton:hover {
  opacity: 0.8;
}

.projectNameContainerForeach {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ba68c8;
  margin: 5px 0;
}

.projectName {
  font-size: 18px;
  cursor: pointer;
  width: 80%;
}

.project-icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.svg-icons-project {
  width: 18px;
  cursor: pointer;
  border-radius: 2px;
}

.svg-icons-project:hover {
  background-color: #2e073f;
  transition: 0.3s ease-in;
}

.addProjectButton {
  width: 95%;
  margin: 10px 5px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  color: #2e073f;
  background-color: #ba68c8;
  border: 1px solid #ba68c8;
  font-size: 1rem;
  font-weight: 700;
}

.addProjectButton:hover {
  color: #ba68c8;
  background-color: #2e073f;
  transition: 0.3s ease-in;
}

/* task container styling */
.projectNameInDisplay {
  color: #2e073f;
  padding: 5px;
}

.addTaskBtn {
  margin: 5px;
  width: 8rem;
  height: 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  background-color: #2e073f;
  font-weight: 700;
}

.addTaskBtn:hover {
  color: #2e073f;
  background-color: #ba68c8;
  border: 1px solid #2e073f;
  transition: 0.3s ease-in;
}

.taskContainerForEach {
  display: flex;
  flex-direction: column;
  /* background-color: #ba68c8; */
  border: 1.8px solid #2e073f;
  color: #2e073f;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 5px;
}

.taskContainerBox1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskDivBox1_a {
  width: 90%;
  display: flex;
  gap: 5px;
}

.taskDivBox1_b {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.svg-icons {
  width: 25px;
  margin: 5px;
  background-color: #ba68c8;
  border: 1.5px solid #2e073f;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.svg-icons:hover,
.svg-icons-expand:hover {
  background-color: #2e073f;
}

.svg-icons-expand {
  width: 25px;
  margin: 5px;
  background-color: #ba68c8;
  border: 1.5px solid #2e073f;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.svg-icons-expand.flipped {
  transform: rotate(180deg);
}

.clearCompletedTasksBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  float: right;
  width: 250px;
  height: 40px;
  margin: 10px;
  background-color: #2e073f;
  border-radius: 15px;
  cursor: pointer;
}

.clearCompletedTasksBox:hover {
  background-color: #ba68c8;
  transition: 0.3s ease-in;
}

.deleteCompletedIcon {
  width: 20px;
  padding-left: 5px;
}

/* styling for completed task */
.completed {
  color: #4d4545;
  position: relative;
}

.completed::before {
  content: "";
  position: absolute;
  top: 50%; /* Center the line vertically */
  left: 0;
  width: 100%;
  height: 1px; /* Thickness of the line */
  background-color: black; /* Color of the line */
  transform: translateY(-50%);
  z-index: 1;
}

.taskDescriptionText {
  display: none;
  font-style: italic;
  margin-top: 5px;
}

/* PAGE LOAD STYLING */
.pageLoadDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcomeText {
  font-size: 3rem;
  color: #2e073f;
}

.welcomeParagraph1 {
  color: #2e073f;
  font-size: 1rem;
}

.welcomeParagraph2 {
  color: #ba68c8;
  font-style: italic;
}

/* TASKS DUE TODAY INITIAL RENDER */
.tasksDueTodayDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

/* Hide the default checkbox appearance */
#myCheckbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 6px; /* Rounded corners */
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Add a check mark when checked */
#myCheckbox:checked {
  background-color: #4caf50; /* Green background when checked */
  border-color: #4caf50; /* Green border */
}

/* Display a check mark inside the checkbox when checked */
#myCheckbox:checked::after {
  content: "✔"; /* Check mark symbol */
  position: absolute;
  left: 3px;
  top: 3px;
  color: white;
  font-size: 18px;
}

/* Add hover effect */
#myCheckbox:hover {
  border-color: #007b33;
  background-color: #e0e0e0;
}
